<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- titulo de la página -->
  <title>Lista de Productos</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="lista">
<!-- título principal -->
<h1 class="titulo">Lista de Productos</h1>
<!-- tabla que indica los productos inscritos -->
<table>
  <thead class="lista_productos">
  <tr>
    <th>Serial</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Precio</th>
    <th>Proveedor</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="producto : ${productos}">
    <td th:text="${producto.serialProductos}"></td>
    <td th:text="${producto.nombre}"></td>
    <td th:text="${producto.descripcion}"></td>
    <td th:text="${producto.precio}"></td>
    <td th:text="${producto.proveedoresNitProveedor}"></td>
    <td>
      <a th:href="@{/productos/editar/{id}(id=${producto.serialProductos})}">Editar</a> |
      <a th:href="@{/productos/eliminar/{id}(id=${producto.serialProductos})}">Eliminar</a>
    </td>
  </tr>
  </tbody>
</table>
<!-- botón para ir al formulario para agregar producto nuevo-->
<form action="/productos/nuevo" method="get">
  <button type="submit">Agregar Nuevo Producto</button>
</form>
</body>
</html>
